%section#clients.callout
  .container
    .row
      .col-md-3.headline
        %h3 Clients
        %span
          %p Some people I have done work for.
      .col-md-9
        #owl-clients.owl-carousel
          .owl-item
            = image_tag("itr8group-logo.png")
          .owl-item
            = image_tag("couplewise-logo.png")
          .owl-item
            = image_tag("logo-moto-250.png")
          .owl-item
            = image_tag("rockstarlogo-240.png")
