%section#contact.section
  .container
    .row
      .col-md-3.hidden-xs
        %h3 Contact
      .col-md-9.headline.nomargin
        %h3 Let's talk
        %p I'm currently available for freelance work. Just shoot me an email or give me a call so we can talk about your project.
        %a.btn.btn-default.btn-custom-2.callout-btn{:href => "mailto:david@davidhemmat.com"}
          %i.fa.fa-paper-plane-o.icon-before
          Contact me
        %hr/
        %ul.icon-list
          %li
            %i.fa.fa-fw.fa-phone
            %a{:href => "tel:+18295489782"} +1 (829) 548 9782
          %li
            %i.fa.fa-fw.fa-envelope-o
            %a{:href => "mailto:david@davidhemmat.com"} david@davidhemmat.com
