%section#intro.section
  .container
    .row
      .col-md-12
        .hello
          %h1 Hello, I'm David
          %h3
            %span Full Stack Developer.
        %a{:href => "#profile"}
          .mouse-icon
            .wheel
