%section#profile-contact
  .container
    .row
      .col-sm-4
        .profile-item
          %i.fa.fa-envelope-o
          %h5
            %a{:href => "#"} david@davidhemmat.com
      .col-sm-4
        .profile-item
          %i.fa.fa-phone
          %h5
            %a{:href => "tel:+18295489782"} +1 (829) 548 9782
      .col-sm-4
        .profile-item
          %i.fa.fa-map-marker
          %h5
            %a{:href => ""} USA / Dominican Republic
