%section#resume.section
  .container
    .row
      .col-md-12.headline
        %h2 Resume
        %p My education and experience.
    .row.resume-items
      .col-md-3
        %h3 Education
      .col-md-6.col-sm-8.resume-item
        %h4 Entrepreneurship: Launching an Innovative Business Specialization
        %p Four course specialization. Acumulated grade: 98.8%.
        %hr.hidden-xs/
      .col-md-3.col-sm-4.resume-place
        %h4
          %i.fa.fa-suitcase
          University of Maryland
        %i.fa.fa-calendar
        2014 - 2015
        %hr.visible-xs/
      .col-md-6.col-md-offset-3.col-sm-8.resume-item
        %h4 Telecommunications Engineering
        %p Valedictorian and first in class of 971 students (from all majors). 4.0 GPA, graduated Summa Cum Laude.
        %hr.hidden-xs/
      .col-md-3.col-sm-4.resume-place
        %h4
          %i.fa.fa-suitcase
          Pontificia Universidad Católica Madre y Maestra
        %i.fa.fa-calendar
        2008 - 2013
        %hr.visible-xs/
    .row.resume-items
      .col-md-3
        %h3 Experience
      .col-md-6.col-sm-8.resume-item
        %h4 Full Stack Developer
        .resume-sub-job
          %h5 Couplewise
          %p Lead back-end developer building the Couplewise platform. Work building new features and maintaining existing functionality.
          %ul
            %li
              %i Main technologies:
              Ruby On Rails, MongoDB, MongoMapper, RSpec, Bootstrap.
            %li
              %i Website:
              %a{:href => "http://couplewise.com"} www.couplewise.com
            %li
              %i Dates:
              08 / 2015 - Present
        .resume-sub-job
          %h5 itr8group
          %p Migrated AJS Design's web app from Ruby on Rails version 2.3.5 to version 3.2.11. Implemented various security improvements.
          %ul
            %li
              %i Main technologies:
              Rails v.3.2.11, Amazon Web Services.
            %li
              %i Website:
              %a{:href => "http://www.ajsdesignsnyc.com/"} www.ajsdesignsnyc.com
            %li
              %i Dates:
              06 / 2015
        .resume-sub-job
          %h5 Infinite Cloud / ShopKeep
          %p
            Worked as a full stack developer on a team of 4 to build a new multi-tenant ecommerce platform for ShopKeep, a REST API for the e-commerce platform, a new store front for their own online shop, and a supporting gem and administration console.
          %ul
            %li
              %i Main technologies:
              Ruby on Rails v.4, Grape (for REST API), Her gem, Amazon Web Services.
            %li
              %i Website:
              %a{:href => "http://shop.shopkeep.com"} shop.shopkeep.com
            %li
              %i Dates:
              01 / 2014 - 01 / 2015
        .resume-sub-job
          %h5 Sonwalkar Consulting / Six Red Marbles
          %p
            Worked with a team of 5 to to create an online game for teaching STEM (Science, Technology, Engineering and Math) for Six Red Marbles. Implemented various parts of the game's front end using Backbone.js and jQuery. Implemented Redis in the back end using a Rails app for data storage.
          %ul
            %li
              %i Main technologies:
              Backbone.js, Ruby on Rails v3.2, Redis, jQuery.
            %li
              %i Website:
              %a{:href => "http://sixredmarbles.com"} www.sixredmarbles.com
            %li
              %i Dates:
              08 / 2013 - 12 / 2013
        %hr.hidden-xs/
      .col-md-3.col-sm-4.resume-place
        %h4
          %i.fa.fa-suitcase
          Blue Coding LLC and Freelance
        %i.fa.fa-calendar
        08 / 2013 - Present
        %hr.visible-xs/
      .col-md-6.col-md-offset-3.col-sm-8.resume-item
        %h4 Full stack developer
        .resume-sub-job
          %p
            Full stack developer working to migrate large ERP system based on Cybase PowerBuilder to JavaEE and JSF. Created multiple features and functionalities for the accounting module of the ERP software.
          %ul
            %li
              %i Main technologies:
              JavaEE, JSF, Primefaces, Hibernate, OracleDB, Glassfish server.
        %hr.hidden-xs/
      .col-md-3.col-sm-4.resume-place
        %h4
          %i.fa.fa-suitcase
          Newsoft SRL
        %i.fa.fa-calendar
        05 / 2013 - 01 / 2014
        %hr.visible-xs/
      .col-md-6.col-md-offset-3.col-sm-8.resume-item
        %h4 Web developer
        .resume-sub-job
          %h5 Condé Nast
          %p
            Built a web scraper from scratch that would crawl Condé Nast owned blogs and collect article text along with their images and dump them in a predefined folder structure.
          %ul
            %li
              %i Main technologies:
              Ruby, Nokogiri.
        .resume-sub-job
          %h5 Confidential
          %p
            Built MVP for hospital management software on Ruby on Rails, with a team of 2. Worked as full stack developer building both front and back end functionality. Built graphs using D3.js.
          %ul
            %li
              %i Main technologies:
              Ruby on Rails, D3.js.
        %hr.hidden-xs/
      .col-md-3.col-sm-4.resume-place
        %h4
          %i.fa.fa-suitcase
          Intellisys Corp.
        %i.fa.fa-calendar
        01 / 2013 - 05 / 2013
        %hr.visible-xs/
