%section#services.callout
  .container
    .row
      .col-md-12.headline
        %h2 Services
        %p What I can do for you.
      .col-md-12
        .row
          .col-sm-4
            .service
              .icon
                %i.fa.fa-pencil
              %h4 Code from scratch
              .text
                %p I can build any type of web application you need from scratch. We will start with having a conversation about what you need to build and take it from there.
          .col-sm-4
            .service
              .icon
                %i.fa.fa-rocket
              %h4 Build your MVP
              .text
                %p Starting a new venture? I will help you get your boots on the ground. Let me build your MVP from scratch providing you with a high quality product to start testing your market.
          .col-sm-4
            .service
              .icon
                %i.fa.fa-cog
              %h4 Upgrade and maintain
              .text
                %p Got an old app that needs a facelift? Broken features? Need new functionality? Need to upgrade your platform or just make sure everything is in order? I will be happy to take care of this for you.
        .row
          .col-md-12.text-center
            %br/
            %a.btn.btn-primary{:href => "#contact"}
              %i.fa.fa-phone.icon-before
              Let's talk
                
            %a.btn.btn-warning{:href => "#resume"}
              %i.fa.fa-chevron-down.icon-before
              Lean more
            %br/
